<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function(){
        
            $("#btnGetData").on('click',function(){
                alert('ddd');
               $.ajax({
                    url: 'http://localhost:5006',
                    method: 'GET',
                    headers:{
                        'x-id':0 /* custom header value*/
                    }   
               }).done(function(response){
                 alert(`Response Data ${JSON.stringify(response)}`);
               }).fail(function(error){
                 alert(`Error Occurred ${error}`);
               });
            });
        });
    </script>
</head>
<body>
    <h1>The Home Page</h1>
    <button id="btnGetData">Get Data</button>
</body>
</html>