<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function(){
        
            $("#btnGetData").on('click',function(){
                
               $.ajax({
                    url: 'http://localhost:6070/api/get',
                    method: 'GET' 
               }).done(function(response){
                 alert(`Response Data ${JSON.stringify(response)}`);
               }).fail(function(error){
                 alert(`Error Occurred ${error}`);
               });
            });


            $("#btnPostData").on('click',function(){
                var data = {
                    "EmpNo":10001,
                    "EmpName" :"Kumar",
                    "DeptName":"D1"
                };
                $.ajax({
                     url: 'http://localhost:6070/api/get',
                     method: 'POST',
                     data:JSON.stringify(data),
                     contentType:'application/json' 
                }).done(function(response){
                  alert(`Response Data ${ JSON.stringify(response)}`);
                }).fail(function(error){
                  alert(`Error Occurred ${error}`);
                });
             });
        });
    </script>
</head>
<body>
    <h1>The Home Page</h1>
    <button id="btnGetData">Get Data</button>
    <br>
    <button id="btnPostData">POST Data</button>
</body>
</html>